.faust-ui-component {
    display: flex;
    flex-direction: column;
    &:focus {
        outline: none;
    }
    & .faust-ui-component-label {
        position: relative;
        font-weight: bold;
        margin: 4px;
    }
}