.faust-ui-component {
    display: flex;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    &:focus {
        outline: none;
    }
    & .faust-ui-component-label {
        position: relative;
        font-weight: bold;
        margin-bottom: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        user-select: none;
    }
    & input {
        box-shadow: none;
    }
}