.faust-ui-component.faust-ui-component-hbargraph {
    flex-direction: row-reverse;
    & > .faust-ui-component-label {
        position: absolute;
        left: 0;
    }
    & canvas {
        position: relative;
        display: block;
        flex: 1 1 auto;
        height: 50%;
        min-width: 75%;
        margin: auto;
    }
    & span {
        position: relative;
        display: block;
        flex: 0 1 auto;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.25);
        margin: auto 5px auto auto;
        border-width: 0px;
        border-radius: 4px;
        width: calc(25% - 13px);
        padding: 2px 4px;
    }
}